name: Check README

on:
  pull_request:
    paths:
      - "README.md"
  schedule:
    - cron: "0 8 * * *"

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python3 .github/check_readme.py

  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress README.md
          fail: true
